@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

.material-symbols-outlined {
    vertical-align: middle;
}

:root {
    --white: white;
    --text-clr: black;
    --bars: #1f1f1f;
    --dark-back: #333;
    --light-back: #eee;

    --background-clr: var(--light-back);
    --modal-back: #fff;
    --card-clr: var(--dark-back);
}

.darkTheme {
    --background-clr: var(--dark-back);
    --text-clr: var(--white);
    --modal-back: #666;
    --exit-modal: invert(1) grayscale(100%) brightness(200%);
    --card-clr: var(--light-back);
}


.flex-even {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}

.modal-content {
    background-color: var(--modal-back);
    color: var(--text-clr);
}
.btn-close {
    filter: var(--exit-modal);
}

nav {
    background: var(--bars);
    display: flex;
    justify-content: right;
    font-size: 20px;
}
nav button {
    margin: 0 10px;
}

h1  {
    color: var(--text-clr);
}

html, main {
    transition: background 0.2s linear, color 0.2s linear;
    background-color: var(--background-clr);
    color: var(--text-clr);
}

textarea {
    width: 80vw;
    height: 50vh;
    display: flex;
    margin: 10px auto;
    border-width: 3px;
    border-radius: 5px;
    font-size: 20px;
    resize: none;
    font-family: monospace;
    color: var(--text-clr);
    background-color: var(--background-clr);
}


.action {
    color: black;
}
.action button {
    height: 78px;
    aspect-ratio: 5/3;
    border-radius: 10px;
}
#gameStatus {
    margin-top: 10px;
    text-align: center;
}



#game {
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
}

#cardFace {
    border-radius: 25px;
    border: 1px solid var(--card-clr);
    background-color: var(--background-clr);
    width: 400px;
    aspect-ratio: 2;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
#card-word, #card-defn {
    color: var(--text-clr);
}

.arrows {
    margin: 0 20px;
    position: absolute;
    height: 200px;
}

.no-bullet {
    list-style-type: none;
    padding-left: 0px;
}
.no-bullet li {
    padding: 5px 0;
}

.tips {
    margin-right: 5px;
    padding-left: 5px;
}
