@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

.material-symbols-outlined {
    vertical-align: middle;
}

:root {
    --white: white;
    --text-clr: black;
    --bars: #1f1f1f;
    --dark-back: #333;
    --light-back: #eee;

    --background-clr: var(--light-back);
    --modal-back: #fff;
    --card-clr: var(--dark-back);
}

.darkTheme {
    --background-clr: var(--dark-back);
    --text-clr: var(--white);
    --modal-back: #666;
    --exit-modal: invert(1) grayscale(100%) brightness(200%);
    --card-clr: var(--light-back);
}

/* Used by JS output - see constants.js */
.danger {
    color: red;
}
.default {
    color: var(--text-clr);
}

.flex-even {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}

/* Bootstrap modal customization */
.modal-content {
    background-color: var(--modal-back);
    color: var(--text-clr);
}
.btn-close {
    filter: var(--exit-modal);
}

/* Top bar */
nav {
    background: var(--bars);
    display: flex;
    justify-content: right;
    font-size: 20px;
}
nav button {
    margin: 0 10px;
}

/* Theme */
body {
    transition: background 0.2s linear, color 0.2s linear;
    background-color: var(--background-clr);
    color: var(--text-clr);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* inputBox */
textarea {
    width: 80vw;
    height: 50vh;
    display: flex;
    margin: 10px auto;
    border-width: 3px;
    border-radius: 5px;
    font-size: 20px;
    resize: none;
    font-family: monospace;
    color: var(--text-clr);
    background-color: var(--background-clr);
}

/* Action bar */
.action button {
    height: 78px;
    aspect-ratio: 5/3;
    border-radius: 10px;
}
.action:nth-child(odd) {
    justify-content: space-between;
    margin: 0 10vw;
}
#gameStatus {
    margin-top: 10px;
    text-align: center;
}

/* Card Overlay */
#game {
    display: none;
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
#gameUI {
    transform: translateY(-10vh);
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-self: center;
}
#gameUI > .btn-close {
    position: fixed;
    right: 0px;
    margin-right: 20px;
    transform: translateY(-10vh);
    padding: 12px;
    border: 5px solid #000;
}
#cardFace {
    user-select: none;
    cursor: pointer;
    border-radius: 25px;
    border: 1px solid var(--card-clr);
    color: var(--text-clr);
    background-color: var(--background-clr);
    width: 400px;
    aspect-ratio: 2/1;
    position: absolute;
}
.arrows {
    margin: 0 20px;
    position: absolute;
    height: 200px;
}
#arrow-decrease {
    left: 0px;
}

/* Used in Modals */
.no-bullet {
    list-style-type: none;
    padding-left: 0px;
}
.no-bullet li {
    padding: 5px 0;
}
.tips {
    margin-right: 5px;
    padding-left: 5px;
}
